header {
  background-color:rgb(54, 54, 54);
  h1 {
    color:azure;
    margin:0;
    padding: 20px 0 20px 0;
    text-align: center;
    font-weight: 900;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: cadetblue;
    height: 30px;

    li {
      margin-right: 20px;
    }
  }
}