footer {
  background-color: rgb(118, 118, 118);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  h1 {
    color: black;
    position: relative;
    left: -30%;
  }
}
